<a href="https://colab.research.google.com/github/SuleymanBat/simple-python/blob/main/warming_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1.Given two lists, list1 and list2, write a program to create a third list l3 by picking an odd-index element from the list1 and even index elements from the list2.

list1 = [3, 6, 9, 12, 15, 18, 21]    
list2 = [4, 8, 12, 16, 20, 24, 28]

In [5]:
list1 = [3, 6, 9, 12, 15, 18, 21]
list2 = [4, 8, 12, 16, 20, 24, 28]

list3 = list1[1::2] + list2[0::2]
list3

[6, 12, 18, 4, 12, 20, 28]

In [9]:
liste3 = []

for i in range(7):
  if i % 2 == 1 :
    liste3 += [(list1[i])]
  else:
    liste3.append(list2[i])
print(liste3)

[4, 6, 12, 12, 20, 18, 28]

Task2.Â Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element. 

liste = [11, 45, 8, 11, 23, 45, 23, 45, 89] 

Printing count of each item {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [10]:
liste = [11, 45, 8, 11, 23, 45, 23, 45, 89]

result = {}

for i in liste:
  result[i] = liste.count(i)
print(result)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [13]:
result2 = {}
for i in liste:
  if i in result2:
    result2[i] += 1
  else:
    result2[i] = 1
print(result2)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Task3. Check if the first and last number of a list is the same Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

num_x = [10, 20, 30, 40, 10]

In [14]:
numx = [10, 20, 30, 40, 10] 

if numx[0] == numx[-1] :
  print(True)
else:
  print(False)

True

Task4.Update set1 by adding items from set2, except common items. 

set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

In [19]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

set3 = (set1 | set2) - (set2 & set1)
set3

{10, 20, 60, 70}

In [20]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

Task5. Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 

2 + 22 + 222 + 2222 + 22222 = 24690

In [22]:
n = int(input())
sum = 0
for i in range(1, n+1) :
  a = str(2) * i
  sum += int(a)
  print(a)
print(sum)

5
2
22
222
2222
22222
24690

Task6. Create a Python set such that it shows the element from both lists in a pair. 

first_list = [2, 3, 4, 5, 6, 7, 8] second_list = [4, 9, 16, 25, 36, 49, 64]

Expected Output:
Result is {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [23]:
first_list = [2, 3, 4, 5, 6, 7, 8] 
second_list = [4, 9, 16, 25, 36, 49, 64]

last = set(zip(first_list, second_list))
print(last)

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}